<div *ngIf="angularip2">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{angularip2.name}} <small>({{angularip2.login}})</small>
      <span *ngIf="angularip2.company">, Works at {{angularip2.company}}</span>
      {{angularip2.location}}
    </div>
    <div class="panl-body">
      <div class="row">
        <div class="col-md-3">
          <img src="{{angularip2.avatar_url}}" class="img-circle img-responsive" alt="Profile Pic">
        </div>
        <div class="col-md-5">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="angularip2.bio">{{angularip2.bio}}</li>
            <li class="list-group-item" *ngIf="angularip2.hireable">Available for hire</li>
            <li class="list-group-item" *ngIf="angularip2.blog"><a href="{{angularip2.blog}}" target="_blank">{{angularip2.blog}}</a></li>
            <li class="list-group-item" *ngIf="angularip2.email"><a href="emailto:{{angularip2.email}}">{{angularip2.email}}</a></li>

          </ul>
        </div>
        <div class="col-md-4">
          <p>
            <span class="label label-default">{{angularip2.followers}} Followers</span>
            <span class="label label-default">Following {{angularip2.following}}</span>
            <span class="label label-default">{{angularip2.public_gist}} Public Gist</span>
            <span class="label label-default">{{angularip2.public_reps}} Public Repos</span>
          </p>
          <p><a href="{{angularip2.html_url}}" target="_blank" class="btn btn-success">View profile on github</a></p>
        </div>
      </div>
    </div>
  </div>

</div>
