<form class="search_form" action="index.html" method="post">
  <div class="form-group">
    <input class="form-control"  type="text" placeholder="Search git users with username "
     [(ngModel)]="username" name="username" (keyup)="findProfile()">
  </div>
</form>
<div *ngIf="angularip2">
  <div class="panel panel-default">
    <div class="panel-heading">
      {{angularip2.name}} <small>({{angularip2.login}})</small>
      <span *ngIf="angularip2.company">, Works at {{angularip2.company}}</span>
      {{angularip2.location}}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-3">
          <img src="{{angularip2.avatar_url}}" class="img-circle img-responsive" alt="Profile Pic">
        </div>
        <div class="col-md-5">
          <ul class="list-group">
            <li class="list-group-item" *ngIf="angularip2.bio">{{angularip2.bio}}</li>
            <li class="list-group-item" *ngIf="angularip2.hireable">Available for hire</li>
            <li class="list-group-item" *ngIf="angularip2.blog"><a href="{{angularip2.blog}}" target="_blank">{{angularip2.blog}}</a></li>
            <li class="list-group-item" *ngIf="angularip2.email"><a href="emailto:{{angularip2.email}}">{{angularip2.email}}</a></li>

          </ul>
        </div>
        <div class="col-md-4">
          <p>
            <span class="label label-default">{{angularip2.followers}} Followers</span>
            <span class="label label-default">Following {{angularip2.following}}</span>
            <span class="label label-default">{{angularip2.public_gist}} Public Gist</span>
            <span class="label label-default">{{angularip2.public_repos}} Public Repos</span>
          </p>
          <p><a href="{{angularip2.html_url}}" target="_blank" class="btn btn-success btn-sm">View profile on github</a></p>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h3 class="panel-title">Repos</h3>
            </div>
            <div class="panel-body" ngFor="let repo of repos">
              <p class="clearfix">
                  {{angular1p2repo.name}} <a href="{{angular1p2repo.html_url}}" target="_blank" class="btn btn-sm btn-warning pull-right">View this project on github</a>
              </p>
              <p>{{angular1p2repo.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
